<div class="container p-3">
    <div class="row pt-4 mb-3">
        <div class="col-6">
            <h2 class="text-primary">Product List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-action="Upsert" class="btn btn-outline-primary">
                <i class="bi bi-plus-lg"></i> Create New Category
            </a>
        </div>
    </div>
    <table id="myTable" class="table table-bordered table-striped w-100">
        <thead>
            <tr>
                <th>Title</th>
                <th>ISBN</th>
                <th>Price</th>
                <th>Author</th>
                <th>Category</th>
                <th>Cover Type</th>
                <th class="text-center"></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

@section Scripts{
    <script src="~/js/Product.js"></script>
    }
