@model int

<div class="row">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Order Placed Successfully</h1>
        <p>Your Order Number is : @Model</p>
        <img src="~/assets/successful_order.jpg" width="30%" />
    </div>
    <div class="col-12 text-center text-success">
       Your Order has been Placed Successfully
    </div>
</div>