html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin-bottom: 60px;
}

#profile-pic {
    height: 270px;
    width: 270px;
    object-fit: cover;
}

#avatar {
    height: 40px;
    width: 40px;
    object-fit: cover;
}

#manage-container {
    width: max-content;
}
